[Desktop Entry]
Type=Action
Icon=audio-x-wav
ToolbarLabel=wav
ToolbarLabel[fr]=wav
Name=wav
Name[fr]=wav
Profiles=profile-zero;

[X-Action-Profile profile-zero]
MimeTypes=inode/directory;
Exec=action_menu_audio_converter.sh wav %F
Name=Default Profile
