[Desktop Entry]
Type=Menu
Name=Convert To the format
Name[ar]=حول إلى
Name[be]=Канвертаваць у
Name[ca]=Converteix a
Name[cs]=Převést do
Name[da]=Konvertér til
Name[de]=Umwandeln in
Name[el]=Μετατροπή σε
Name[es]=Convertir a
Name[et]=Teisendamine
Name[eu]=Hontara bihurtu
Name[fi]=Muunna muotoa
Name[fr]=Convertir au format
Name[ga]=Tiontaigh Go
Name[gl]=Converter en
Name[it]=Converti in
Name[ja]=変換
Name[km]=បម្លែង​ទៅ
Name[ko]=다음으로 변환
Name[ku]=Veguhezîne Ji
Name[lt]=Konvertuoti į
Name[lv]=Pārveidot uz
Name[nb]=Konverter til
Name[nds]=Ümwanneln na
Name[nl]=Converteren naar
Name[nn]=Gjer om til
Name[pa]=ਬਦਲੋ
Name[pl]=Konwertuj do
Name[pt]=Converter Para
Name[pt_BR]=Converter Para
Name[ro]=Convertește la
Name[ru]=Преобразовать в
Name[sk]=Previesť do
Name[sr]=Претвори у
Name[sr@latin]=Pretvori u
Name[sv]=Konvertera till
Name[th]=แปลงเป็น
Name[tr]=Dönüştür
Name[uk]=Перетворити в
Name[x-test]=xxConvert Toxx
Name[zh_CN]=转换为
Name[zh_TW]=轉換為
ItemsList=ActionMenuAudioConverter_audio_wav;ActionMenuAudioConverter_audio_flac;ActionMenuAudioConverter_audio_mp3;ActionMenuAudioConverter_audio_ogg;
Name[fr_FR]=Convertir au format
